body {
    background-color: rgb(181, 181, 227);
    font-family: Radley, Georgia, 'Times New Roman', Times, serif;
    position: relative;
  }
  h1 {
    color: lavenderblush;
    position: relative;
  }
  p {
    color: black ;
  }
  ul {
    background-color: lavenderblush;
  
  }

  /*media query */
  #mainpicture {
    width: 32%;
  }
  @media (min-width: 600px) {
    p {
      font-size: 1rem;
    }
  }
  