* {
    background-color: azure;
    font-family: fantasy;

}

h1 {
    color: aliceblue; 
    background-color: rgb(45, 48, 218);
}

span {
    color: blue;
}

button {
    background-color: blue;
    color: white;

}